@import compass/css3
@import compass/utilities
@import mixins
@import susy

$total-cols             : 16
$col-width              : 3em
$gutter-width           : .5em
$side-gutter-width      : 2em
$show-grid-backgrounds  : true

body.builder

	section.steps
		@include full
		position: relative
		overflow: hidden
		height: 595px

		//--------------------------//
		section.step.active
			+opacity(1)
			z-index: 2
	
		section.step
			@include prefix(1, 16)
			@include columns(15, 16)
			+single-transition(all .25s ease-out)
			+opacity(0)
			position: absolute
			top: 0
			z-index: 1
			height: 100%
			overflow: hidden
			ul.table_heading
				@include columns(15, 15)
				display: block
				float: none
				overflow: hidden
				margin-bottom: 30px
				li
					display: inline-block
		a.add
			+button('blue', true)
			float: right
		.delete
			@include columns(1, 15)
			-webkit-background-size: auto 100%
			margin-right: 0
			padding: 10px 0
			background: url(../../img/delete.png) no-repeat center center
			text-indent: -999%
		//--------------------------//
	
	
		//--------------------------//
		section.step.setup
			.fields
				@include columns(6, 15)
				margin-bottom: 50px
			input, select
				width: 100%
			input[type=range]
				margin-top: 20px
			.wrap
				margin-bottom: 50px
				overflow: hidden
			.fields:nth-child(even)
				@include suffix(1, 15)
				float: right
				margin-right: 0 !important
			.style_fields
				overflow: hidden
				width: 100%
				.or
					@include columns(2, 15)
					+opacity(.5)
					padding-top: 35px
					font-size: 175%
					text-align: center
		//--------------------------//
	
	
		//--------------------------//
		section.step.grist
			ul.table_heading
				li:nth-child(1)
					@include columns(7, 15)
				li:nth-child(2)
					@include columns(5, 15)
				li:nth-child(3)
					@include columns(3, 15)
					margin-right: 0
			.grain
				overflow: hidden
				margin-bottom: 50px
				select
					@include columns(6, 15)
				.input_wrapper
					@include prefix(1, 15)
					@include columns(5, 15)
				input[type=text]
					@include columns(4, 5)
				.proportion
					@include columns(2, 15)
					padding-top: 10px
				.range_wrapper
					@include prefix(7, 15)
					@include columns(8, 15)
				input[type=range]
					margin: 20px 0 10px 0
					width: 100%
		//--------------------------//
	
	
		//--------------------------//	
		section.step.hops
			ul.table_heading
				li:nth-child(1)
					@include columns(6, 15)
				li:nth-child(2)
					@include columns(2, 15)
				li:nth-child(3)
					@include prefix(1, 15)
					@include columns(3, 15)
				li:nth-child(4)
					@include columns(3, 15)
					margin-right: 0
			.hop
				overflow: hidden
				margin-bottom: 50px
				.proportion
					@include columns(2, 15)
					padding-top: 10px
				select
					@include columns(6, 15)
				input[type=range]
					margin-top: 20px
				.weight_wrapper
					@include columns(2, 15)
				.weight_range_wrapper
					@include columns(8, 15)
				.time_range_wrapper
					@include columns(6, 15)
				.time_wrapper
					@include columns(3, 15)
					@include prefix(1, 15)
					input[type=text].time
						@include columns(3, 3)
				.time_range_wrapper
					@include columns(6, 15)
					@include prefix(1, 15)
					margin-right: 0
				input[type=range]
					margin-bottom: 10px
		//--------------------------//
	
	
		//--------------------------//
		section.step.mash_and_sparge
			.fields
				@include columns(6, 15)
				margin-bottom: 50px
			input, select
				width: 100%
			input[type=range]
				margin-top: 20px
			.wrap
				margin-bottom: 50px
				overflow: hidden
			.fields:nth-child(even)
				@include suffix(1, 15)
				float: right
				margin-right: 0 !important
		//--------------------------//
	
	
		//--------------------------//
		section.step.fermentation
			input[type=range]
				margin-top: 20px
			.yeasts
				overflow: hidden
				margin-bottom: 30px
				select
					@include columns(7, 15)
				a
					margin-top: 25px
					float: right
			.fermentations
				overflow: hidden
				.wrap
					@include columns(7, 15)
					.fields
						@include columns(3, 7)
					.fields:nth-child(even)
						@include columns(4, 7)
						margin-right: 0
				.wrap:nth-child(even)
					float: right
					margin-right: 0
				.range_wrap
					@include columns(7, 15)
					margin-bottom: 50px
				.range_wrap:nth-child(even)
					float: right
					margin-right: 0
				a
					float: right
					margin-top: 25px
			.dry_hopping
				overflow: hidden
				.fields
					@include columns(4, 15)
					float: none
					display: block
					overflow: hidden
					margin-bottom: 20px
					label
						@include columns(2, 4)
						margin-top: 12px
					div
						@include columns(1, 4)
				/*TODO - this is all a copy from the hop section, do it right */
				ul.table_heading
					li:nth-child(1)
						@include columns(6, 15)
					li:nth-child(2)
						@include columns(2, 15)
					li:nth-child(3)
						@include prefix(1, 15)
						@include columns(3, 15)
					li:nth-child(4)
						@include columns(3, 15)
						margin-right: 0
				.hop
					overflow: hidden
					margin-bottom: 50px
					.proportion
						@include columns(2, 15)
						padding-top: 10px
					select
						@include columns(6, 15)
					input[type=range]
						margin-top: 20px
					.weight_wrapper
						@include columns(2, 15)
					.weight_range_wrapper
						@include columns(8, 15)
					.time_range_wrapper
						@include columns(6, 15)
					.time_wrapper
						@include columns(3, 15)
						@include prefix(1, 15)
						input[type=text].time
							@include columns(3, 3)
					.time_range_wrapper
						@include columns(6, 15)
						@include prefix(1, 15)
						margin-right: 0
				a
					float: right
		//--------------------------//
	
	
		//--------------------------//
		section.step.finishing
			.fields
				@include prefix(3, 15)
				overflow: hidden
			input[type=range]
				margin: 20px 0 10px 0
			.range_wrap
				@include prefix(3, 15)
				@include columns(8, 15)
				margin-bottom: 50px
				
			.wrap.radio_wrap
				overflow: hidden
				margin-bottom: 50px
				.fields
					@include columns(3, 15)
					label
						@include columns(2, 4)
						margin-top: 10px
					input
						float: right
				.fields:last-child
					@include prefix(2, 15)
					
			.wrap.bottled
				.fields
					@include columns(8, 15)
				.bottle_wrap
					overflow: hidden
					.fields
						@include columns(4, 15)
						@include prefix(3, 15)
					.fields:nth-child(even)
						@include columns(4, 15)
						@include prefix(0, 15)
						margin-right: 0
						
			.wrap.kegged
				display: none
		
			div.custom_radio
				display: inline-block
		//--------------------------//
	
