/* line 37, ../../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 16, ../../../../../src/sass/builder/base.sass */
body.builder h1#beer_name {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin: 25px 0 15px 0;
  height: 70px;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
/* line 25, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes {
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  margin-bottom: 25px;
  font-size: 90%;
}
/* line 31, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes .wrap {
  clear: both;
  margin-left: 3.361%;
  margin-right: 3.361%;
}
/* line 33, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes dl {
  display: inline;
  float: left;
  width: 24.324%;
  margin-right: 0.901%;
  white-space: nowrap;
}
/* line 36, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes dl dt {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 5%;
}
/* line 40, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes dl dd {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-right: 0;
  text-align: right;
}
/* line 44, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes dl dd.issue {
  background-color: rgba(255, 0, 0, 0.15);
}
/* line 46, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes dl:nth-child(2), body.builder aside#beer_attributes dl:nth-child(3) {
  display: inline;
  float: left;
  width: 18.018%;
  margin-right: 0.901%;
  padding-left: 6.306%;
}
/* line 51, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes #srm_panel {
  display: inline;
  float: left;
  width: 11.712%;
  margin-right: 0.901%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(#ffffff, #b4b4b4);
  background-image: -moz-linear-gradient(#ffffff, #b4b4b4);
  background-image: -o-linear-gradient(#ffffff, #b4b4b4);
  background-image: -ms-linear-gradient(#ffffff, #b4b4b4);
  background-image: linear-gradient(#ffffff, #b4b4b4);
  float: right;
  position: relative;
  margin-right: 0;
  height: 70px;
  overflow: hidden;
}
/* line 61, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes #srm_panel div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 1px 1px inset;
  position: absolute;
  left: 5%;
  top: 5.5%;
  width: 90%;
  height: 90%;
  background-color: white;
}
/* line 70, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes #srm_panel div.highlight {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
/* line 72, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_attributes #srm_panel.issue {
  -moz-box-shadow: rgba(255, 0, 0, 0.5) 0 0 2px 2px;
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0 0 2px 2px;
  -o-box-shadow: rgba(255, 0, 0, 0.5) 0 0 2px 2px;
  box-shadow: rgba(255, 0, 0, 0.5) 0 0 2px 2px;
}
/* line 76, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character.animate {
  -webkit-transition: 0.5s all ease-out;
}
/* line 80, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap.animate {
  -webkit-transition: 0.5s all ease-out;
}
/* line 83, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character {
  margin-left: 3.361%;
  z-index: 2;
  position: relative;
  height: 130px;
  font-size: 90%;
}
/* line 89, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .handle {
  -webkit-transform: translateX(-20px);
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 1px 1px;
  margin: auto;
  width: 60px;
  height: 12px;
  background: url(../../img/handle.png) repeat;
}
/* line 97, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.15) 0 0 6px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.15) 0 0 6px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.15) 0 0 6px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.15) 0 0 6px 3px;
  height: 100%;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  overflow: hidden;
}
/* line 103, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap li:first-child {
  margin-top: 15px;
}
/* line 105, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap li {
  display: inline;
  float: left;
  width: 93.269%;
  margin-right: 0.962%;
  padding-left: 2.101%;
  float: none;
  display: block;
  margin-bottom: 15px;
}
/* line 111, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap li span.title {
  display: inline;
  float: left;
  width: 21.635%;
  margin-right: 0.962%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  display: inline-block;
  float: none;
}
/* line 116, ../../../../../src/sass/builder/base.sass */
body.builder aside#beer_character .wrap li span.char {
  font-size: 85%;
}
/* line 119, ../../../../../src/sass/builder/base.sass */
body.builder div.save_buttons {
  margin-bottom: 20px;
  height: 66px;
  overflow: hidden;
}
/* line 124, ../../../../../src/sass/builder/base.sass */
body.builder div.save_buttons a#save_recipe {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b8d872;
  display: block;
  width: 150px;
  margin: 6px auto 0;
  text-align: center;
  font-size: 130%;
}
/* line 24, ../../../../../src/sass/mixins.sass */
body.builder div.save_buttons a#save_recipe span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 132, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps {
  clear: both;
  margin-left: 3.361%;
  margin-right: 3.361%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(#ffffff, #b4b4b4);
  background-image: -moz-linear-gradient(#ffffff, #b4b4b4);
  background-image: -o-linear-gradient(#ffffff, #b4b4b4);
  background-image: -ms-linear-gradient(#ffffff, #b4b4b4);
  background-image: linear-gradient(#ffffff, #b4b4b4);
  height: 55px;
  overflow: hidden;
  font-size: 75%;
  white-space: nowrap;
}
/* line 141, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps li.active {
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 143, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps li {
  -moz-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 14%;
  padding: 20px 0;
  text-align: center;
  color: #313237;
  vertical-align: top;
}
/* line 151, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps li:first-child, body.builder nav#steps li:last-child {
  width: 5%;
  text-indent: -999%;
  -webkit-background-size: 40% auto;
}
/* line 155, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps li:first-child {
  background: url(../../img/shape_arrow_left.png) no-repeat center center;
}
/* line 157, ../../../../../src/sass/builder/base.sass */
body.builder nav#steps li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  float: right;
  background: url(../../img/shape_arrow_right.png) no-repeat center center;
}

/* line 37, ../../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 14, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps {
  clear: both;
  margin-left: 3.361%;
  margin-right: 3.361%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 450px;
}
/* line 22, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.active {
  z-index: 2;
  -webkit-transform: translateX(0%);
}
/* line 26, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.animate {
  -moz-transition-property: all 0.15s ease-out;
  -webkit-transition-property: all 0.15s ease-out;
  -o-transition-property: all 0.15s ease-out;
  transition-property: all 0.15s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 28, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.left {
  -webkit-transform: translateX(-100%);
}
/* line 30, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.right {
  -webkit-transform: translateX(100%);
}
/* line 33, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step {
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 93.694%;
  margin-right: 0.901%;
  -webkit-transform: translateX(100%);
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
/* line 42, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.962%;
  display: block;
  float: none;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 48, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading li {
  display: inline-block;
}
/* line 50, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps a.add {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #7ccfeb;
  float: right;
}
/* line 24, ../../../../../src/sass/mixins.sass */
body.builder section.steps a.add span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 53, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps .delete {
  display: inline;
  float: left;
  width: 5.769%;
  margin-right: 0.962%;
  -webkit-background-size: auto 100%;
  margin-right: 0;
  padding: 10px 0;
  background: url(../../img/delete.png) no-repeat center center;
  text-indent: -999%;
}
/* line 65, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 68, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input, body.builder section.steps section.step.setup select {
  width: 100%;
}
/* line 70, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input[type=range] {
  margin-top: 20px;
}
/* line 72, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 75, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 79, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .style_fields {
  overflow: hidden;
  width: 100%;
}
/* line 82, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .style_fields .or {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  padding-top: 35px;
  font-size: 175%;
  text-align: center;
}
/* line 94, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 96, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 98, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(3) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 101, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 104, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 106, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .input_wrapper {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 109, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=text] {
  display: inline;
  float: left;
  width: 79.412%;
  margin-right: 2.941%;
}
/* line 111, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 114, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .range_wrapper {
  padding-left: 47.115%;
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 117, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=range] {
  margin: 20px 0 10px 0;
  width: 100%;
}
/* line 126, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 128, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 130, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 133, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 136, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 139, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 142, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 144, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop input[type=range] {
  margin-top: 20px;
}
/* line 146, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 148, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 150, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 152, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 155, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 157, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 161, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop input[type=range] {
  margin-bottom: 10px;
}
/* line 168, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 171, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input, body.builder section.steps section.step.mash_and_sparge select {
  width: 100%;
}
/* line 173, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input[type=range] {
  margin-top: 20px;
}
/* line 175, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 178, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 187, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation input[type=range] {
  margin-top: 20px;
}
/* line 189, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 192, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts select {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 194, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts a {
  margin-top: 25px;
  float: right;
}
/* line 197, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations {
  overflow: hidden;
}
/* line 199, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 201, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .wrap {
  overflow: hidden;
}
/* line 203, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .fields {
  display: inline;
  float: left;
  width: 41.667%;
  margin-right: 2.083%;
}
/* line 205, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .fields:nth-child(even) {
  display: inline;
  float: left;
  width: 56.25%;
  margin-right: 2.083%;
  margin-right: 0;
}
/* line 208, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .wrap:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 211, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .range_wrap {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 214, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .range_wrap:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 217, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations a {
  float: right;
  margin-top: 25px;
}
/* line 220, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping {
  overflow: hidden;
  /*TODO - this is all a copy from the hop section, do it right */
}
/* line 222, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  float: none;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 228, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-top: 12px;
}
/* line 231, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields div {
  display: inline;
  float: left;
  width: 22.222%;
  margin-right: 3.704%;
}
/* line 235, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 237, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 239, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 242, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 245, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 248, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 251, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 253, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop input[type=range] {
  margin-top: 20px;
}
/* line 255, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 257, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 259, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 261, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 264, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 266, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 270, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping a {
  float: right;
}
/* line 277, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .fields {
  padding-left: 20.192%;
  overflow: hidden;
}
/* line 280, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing input[type=range] {
  margin: 20px 0 10px 0;
}
/* line 282, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .range_wrap {
  padding-left: 20.192%;
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 287, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 290, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 292, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-top: 10px;
}
/* line 295, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields input {
  float: right;
}
/* line 297, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields:last-child {
  padding-left: 13.462%;
}
/* line 301, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .fields {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 303, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap {
  overflow: hidden;
}
/* line 305, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap .fields {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  padding-left: 20.192%;
}
/* line 308, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap .fields:nth-child(even) {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  padding-left: 0%;
  margin-right: 0;
}
/* line 313, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.kegged {
  display: none;
}
/* line 316, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing div.custom_radio {
  display: inline-block;
}
