/* line 37, ../../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 13, ../../../../../src/sass/builder/steps.sass */
body.builder.ios section.steps {
  -moz-transition-property: all 0.15s ease-out;
  -webkit-transition-property: all 0.15s ease-out;
  -o-transition-property: all 0.15s ease-out;
  transition-property: all 0.15s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  height: 465px;
  overflow-y: scroll;
}

/* line 19, ../../../../../src/sass/builder/steps.sass */
body.builder.character_closed section.steps {
  height: 565px;
}

/* line 25, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps {
  clear: both;
  margin-left: 3.361%;
  margin-right: 3.361%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 465px;
}
/* line 33, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.active {
  z-index: 2;
  -webkit-transform: translateX(0%);
}
/* line 37, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.animate {
  -moz-transition-property: all 0.15s ease-out;
  -webkit-transition-property: all 0.15s ease-out;
  -o-transition-property: all 0.15s ease-out;
  transition-property: all 0.15s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 39, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.left {
  -webkit-transform: translateX(-100%);
}
/* line 41, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.right {
  -webkit-transform: translateX(100%);
}
/* line 44, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step {
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 93.694%;
  margin-right: 0.901%;
  -webkit-transform: translateX(100%);
  position: absolute;
  top: 0;
  z-index: 1;
  min-height: 100%;
  overflow: hidden;
}
/* line 53, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.962%;
  display: block;
  float: none;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 59, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading li {
  display: inline-block;
}
/* line 61, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps a.add {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #7ccfeb;
  margin-right: 6px;
  float: right;
}
/* line 24, ../../../../../src/sass/mixins.sass */
body.builder section.steps a.add span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 65, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps .delete {
  display: inline;
  float: left;
  width: 5.769%;
  margin-right: 0.962%;
  -webkit-background-size: auto 100%;
  margin-right: 0;
  padding: 10px 0;
  background: url(../../img/delete.png) no-repeat center center;
  text-indent: -999%;
}
/* line 77, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 80, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input, body.builder section.steps section.step.setup select {
  width: 100%;
}
/* line 82, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input[type=range] {
  margin-top: 20px;
}
/* line 84, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 87, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 91, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .style_fields {
  overflow: hidden;
  width: 100%;
}
/* line 94, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .style_fields .or {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  padding-top: 35px;
  font-size: 175%;
  text-align: center;
}
/* line 104, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist {
  height: 1200px;
}
/* line 107, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 109, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 111, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(3) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 114, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 117, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 119, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .input_wrapper {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 122, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=text] {
  display: inline;
  float: left;
  width: 79.412%;
  margin-right: 2.941%;
}
/* line 124, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 127, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .range_wrapper {
  padding-left: 47.115%;
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 130, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=range] {
  margin: 20px 0 10px 0;
  width: 100%;
}
/* line 139, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 141, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 143, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 146, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 149, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 152, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 155, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 157, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop input[type=range] {
  margin-top: 20px;
}
/* line 159, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 161, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 163, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 165, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 168, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 170, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 174, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop input[type=range] {
  margin-bottom: 10px;
}
/* line 181, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 184, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input, body.builder section.steps section.step.mash_and_sparge select {
  width: 100%;
}
/* line 186, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input[type=range] {
  margin-top: 20px;
}
/* line 188, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 191, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 200, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation input[type=range] {
  margin-top: 20px;
}
/* line 202, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 205, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts select {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 207, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts a {
  margin-top: 25px;
  float: right;
}
/* line 210, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations {
  overflow: hidden;
}
/* line 212, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 214, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .wrap {
  overflow: hidden;
}
/* line 216, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .fields {
  display: inline;
  float: left;
  width: 41.667%;
  margin-right: 2.083%;
}
/* line 218, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fermentation .fields:nth-child(even) {
  display: inline;
  float: left;
  width: 56.25%;
  margin-right: 2.083%;
  margin-right: 0;
}
/* line 221, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .wrap:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 224, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .range_wrap {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 227, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .range_wrap:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 230, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations a {
  float: right;
  margin-top: 25px;
}
/* line 233, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping {
  overflow: hidden;
  /*TODO - this is all a copy from the hop section, do it right */
}
/* line 235, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  float: none;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 241, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-top: 12px;
}
/* line 244, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields div {
  display: inline;
  float: left;
  width: 22.222%;
  margin-right: 3.704%;
}
/* line 248, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 250, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 252, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 255, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 258, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 261, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 264, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 266, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop input[type=range] {
  margin-top: 20px;
}
/* line 268, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 270, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 272, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 274, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 277, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 279, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 283, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping a {
  float: right;
}
/* line 290, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .fields {
  padding-left: 20.192%;
  overflow: hidden;
}
/* line 293, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing input[type=range] {
  margin: 20px 0 10px 0;
}
/* line 295, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .range_wrap {
  padding-left: 20.192%;
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 300, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 303, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 305, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-top: 10px;
}
/* line 308, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields input {
  float: right;
}
/* line 310, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields:last-child {
  padding-left: 13.462%;
}
/* line 314, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .fields {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 316, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap {
  overflow: hidden;
}
/* line 318, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap .fields {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  padding-left: 20.192%;
}
/* line 321, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .bottle_wrap .fields:nth-child(even) {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  padding-left: 0%;
  margin-right: 0;
}
/* line 326, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.kegged {
  display: none;
}
/* line 329, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing div.custom_radio {
  display: inline-block;
}
