/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 5, ../../../../src/sass/form_fields.sass */
label {
  display: block;
  margin-bottom: 10px;
}

/* line 9, ../../../../src/sass/form_fields.sass */
input, textarea, select {
  -moz-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-family: HelveticaNeue-CondensedBold, HelveiticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  color: white;
  border: none;
  background-color: #313237;
}

/* line 21, ../../../../src/sass/form_fields.sass */
input[type=text] {
  padding: 8px;
}

/* line 24, ../../../../src/sass/form_fields.sass */
input[type=range] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d189d4), color-stop(100%, #a857ae));
  background-image: -webkit-linear-gradient(#d189d4, #a857ae);
  background-image: -moz-linear-gradient(#d189d4, #a857ae);
  background-image: -o-linear-gradient(#d189d4, #a857ae);
  background-image: -ms-linear-gradient(#d189d4, #a857ae);
  background-image: linear-gradient(#d189d4, #a857ae);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  overflow: visible;
  padding-bottom: 7px;
  height: 12px;
  border: 1px solid #313237;
}

/* line 34, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-thumb {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-background-size: auto 100%;
  margin-top: 7px;
  width: 35px;
  height: 35px;
  background: url(../img/range_handle.png) no-repeat center center;
}

/* line 43, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-range {
  background-color: green;
}

/* line 46, ../../../../src/sass/form_fields.sass */
input[type=search] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  padding: 7px 10px;
  background: #313237 url(../img/search.png) no-repeat right center;
  -webkit-background-size: auto 60%;
}

/* line 52, ../../../../src/sass/form_fields.sass */
input[type=checkbox] {
  width: 40px;
  height: 40px;
}

/* line 56, ../../../../src/sass/form_fields.sass */
input[type=checkbox]:checked {
  background: #313237 url(../img/checkmark.png) no-repeat center center;
}

/* line 59, ../../../../src/sass/form_fields.sass */
input[type=radio] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

/* line 64, ../../../../src/sass/form_fields.sass */
input[type=radio]:checked {
  -webkit-background-size: 90% auto;
  background: #313237 url(../img/range_handle.png) no-repeat center center;
}

/* line 68, ../../../../src/sass/form_fields.sass */
input[type=date] {
  padding: 8px;
}

/* line 71, ../../../../src/sass/form_fields.sass */
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: #313237 url(../img/shape_arrow_down.png) no-repeat right 15px;
  padding: 8px;
}

/* line 77, ../../../../src/sass/form_fields.sass */
*:focus {
  outline: none;
}
