/* line 37, ../../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 14, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps {
  clear: both;
  margin-left: 3.361%;
  margin-right: 3.361%;
  position: relative;
  overflow: hidden;
  height: 595px;
}
/* line 21, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 2;
}
/* line 25, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step {
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 93.694%;
  margin-right: 0.901%;
  -moz-transition-property: all 0.25s ease-out;
  -webkit-transition-property: all 0.25s ease-out;
  -o-transition-property: all 0.25s ease-out;
  transition-property: all 0.25s ease-out;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}
/* line 35, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.962%;
  display: block;
  float: none;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 41, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step ul.table_heading li {
  display: inline-block;
}
/* line 43, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps a.add {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #7ccfeb;
  float: right;
}
/* line 24, ../../../../../src/sass/mixins.sass */
body.builder section.steps a.add span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 46, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps .delete {
  display: inline;
  float: left;
  width: 5.769%;
  margin-right: 0.962%;
  margin-right: 0;
  padding: 10px 0;
  -webkit-background-size: auto 100%;
  background: url(../../img/delete.png) no-repeat center center;
  text-indent: -999%;
}
/* line 58, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 61, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input, body.builder section.steps section.step.setup select {
  width: 100%;
}
/* line 63, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup input[type=range] {
  margin-top: 20px;
}
/* line 65, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 68, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.setup .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 78, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 80, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 82, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist ul.table_heading li:nth-child(3) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 85, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 88, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 90, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .input_wrapper {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 32.692%;
  margin-right: 0.962%;
}
/* line 93, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=text] {
  display: inline;
  float: left;
  width: 79.412%;
  margin-right: 2.941%;
}
/* line 95, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 98, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain .range_wrapper {
  padding-left: 47.115%;
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 101, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.grist .grain input[type=range] {
  margin-top: 20px;
  width: 100%;
}
/* line 110, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 112, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 114, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 117, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 120, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 123, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 126, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 128, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop input[type=range] {
  margin-top: 20px;
}
/* line 130, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 132, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 134, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 136, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 139, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 141, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.hops .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 150, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  margin-bottom: 50px;
}
/* line 153, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input, body.builder section.steps section.step.mash_and_sparge select {
  width: 100%;
}
/* line 155, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge input[type=range] {
  margin-top: 20px;
}
/* line 157, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .wrap {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 160, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.mash_and_sparge .fields:nth-child(even) {
  padding-right: 6.731%;
  float: right;
  margin-right: 0 !important;
}
/* line 169, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation input[type=range] {
  margin-top: 20px;
}
/* line 171, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 174, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts select {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 176, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .yeasts a {
  margin-top: 25px;
  float: right;
}
/* line 179, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations {
  overflow: hidden;
}
/* line 181, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fields {
  display: inline;
  float: left;
  width: 46.154%;
  margin-right: 0.962%;
}
/* line 183, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations .fields:nth-child(even) {
  float: right;
  margin-right: 0;
}
/* line 186, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .fermentations a {
  float: right;
  margin-top: 25px;
}
/* line 189, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping {
  overflow: hidden;
  /*TODO - this is all a copy from the hop section, do it right */
}
/* line 191, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  float: none;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 197, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
}
/* line 199, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .fields div {
  display: inline;
  float: left;
  width: 22.222%;
  margin-right: 3.704%;
}
/* line 203, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(1) {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 205, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(2) {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 207, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(3) {
  padding-left: 6.731%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 210, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping ul.table_heading li:nth-child(4) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 213, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 216, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .proportion {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
  padding-top: 10px;
}
/* line 219, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop select {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 221, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop input[type=range] {
  margin-top: 20px;
}
/* line 223, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_wrapper {
  display: inline;
  float: left;
  width: 12.5%;
  margin-right: 0.962%;
}
/* line 225, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .weight_range_wrapper {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 227, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
}
/* line 229, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  padding-left: 6.731%;
}
/* line 232, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_wrapper input[type=text].time {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 5%;
}
/* line 234, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping .hop .time_range_wrapper {
  display: inline;
  float: left;
  width: 39.423%;
  margin-right: 0.962%;
  padding-left: 6.731%;
  margin-right: 0;
}
/* line 238, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.fermentation .dry_hopping a {
  float: right;
}
/* line 245, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .fields {
  margin-bottom: 50px;
  overflow: hidden;
}
/* line 248, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing input[type=range] {
  margin-top: 20px;
}
/* line 250, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap {
  overflow: hidden;
}
/* line 252, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields {
  padding-left: 20.192%;
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 255, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields label {
  display: inline;
  float: left;
  width: 48.148%;
  margin-right: 3.704%;
  margin-top: 10px;
}
/* line 258, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields input {
  float: right;
}
/* line 260, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.radio_wrap .fields:last-child {
  padding-left: 13.462%;
}
/* line 263, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.bottled .fields {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
  padding-left: 20.192%;
  display: block;
  float: none;
}
/* line 268, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing .wrap.kegged {
  display: none;
}
/* line 271, ../../../../../src/sass/builder/steps.sass */
body.builder section.steps section.step.finishing div.custom_radio {
  display: inline-block;
}
