/*TODO my sass organization is totally screwed up. this needs to be fixed */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 15, ../../../../src/sass/default.sass */
body {
  /*TODO this shadow makes iOS run sooooo slow. Not sure why, but might grab an image if it's faster */
  /*+single-box-shadow(rgba(0,0,0,.85), 0, 0, 150px, 50px, inset) */
  font-family: HelveticaNeue-CondensedBold, HelveiticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 130%;
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  background: #4c5058 url(../img/bg_grid_05.png) repeat;
}

/* line 27, ../../../../src/sass/default.sass */
section#content {
  *zoom: 1;
  margin: auto;
  width: 59.5em;
  max-width: 100%;
  z-index: 1;
  position: relative;
  height: 100%;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../../../../src/sass/default.sass */
a {
  color: inherit;
  text-decoration: none;
}

/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 5, ../../../../src/sass/navigation.sass */
#nav_shadow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.7s all ease-out;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 16, ../../../../src/sass/navigation.sass */
#nav_shadow.on {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 2;
}

/* line 20, ../../../../src/sass/navigation.sass */
nav#main.open {
  -webkit-transform: translateX(0%);
}

/* line 23, ../../../../src/sass/navigation.sass */
nav#main {
  -webkit-transform: translateX(-97%);
  -webkit-transition: 0.7s all ease-out;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background-image: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background-image: -moz-linear-gradient(#ffffff, #c8c8c8);
  background-image: -o-linear-gradient(#ffffff, #c8c8c8);
  background-image: -ms-linear-gradient(#ffffff, #c8c8c8);
  background-image: linear-gradient(#ffffff, #c8c8c8);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  z-index: 3;
  position: absolute;
  height: 380px;
  width: 200px;
  background-color: white;
  top: 25%;
}
/* line 35, ../../../../src/sass/navigation.sass */
nav#main .handle {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  position: absolute;
  right: -12px;
  top: 40%;
  width: 12px;
  height: 60px;
  background: url(../img/handle.png) repeat;
}
/* line 44, ../../../../src/sass/navigation.sass */
nav#main .wrap {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  margin-top: 3%;
  width: 97%;
  height: 97%;
  background: #313237 url(../img/carbon_fiber_20.png);
}
/* line 50, ../../../../src/sass/navigation.sass */
nav#main .wrap a.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5b0c0), color-stop(100%, #7b8ba2));
  background-image: -webkit-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -moz-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -o-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -ms-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: linear-gradient(#a5b0c0, #7b8ba2);
}
/* line 52, ../../../../src/sass/navigation.sass */
nav#main .wrap a {
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  -o-border-radius: 0 100px 100px 0;
  -ms-border-radius: 0 100px 100px 0;
  -khtml-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #35393e), color-stop(100%, #25272a));
  background-image: -webkit-linear-gradient(#35393e, #25272a);
  background-image: -moz-linear-gradient(#35393e, #25272a);
  background-image: -o-linear-gradient(#35393e, #25272a);
  background-image: -ms-linear-gradient(#35393e, #25272a);
  background-image: linear-gradient(#35393e, #25272a);
  display: inline-block;
  margin-top: 10%;
  padding: 9%;
  width: 75%;
}

/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 5, ../../../../src/sass/form_fields.sass */
label {
  display: block;
  margin-bottom: 10px;
}

/* line 9, ../../../../src/sass/form_fields.sass */
input, textarea, select {
  -moz-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-family: HelveticaNeue-CondensedBold, HelveiticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  color: white;
  border: none;
  background-color: #313237;
}

/* line 21, ../../../../src/sass/form_fields.sass */
input[type=text] {
  padding: 8px;
}

/* line 24, ../../../../src/sass/form_fields.sass */
input[type=range] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d189d4), color-stop(100%, #a857ae));
  background-image: -webkit-linear-gradient(#d189d4, #a857ae);
  background-image: -moz-linear-gradient(#d189d4, #a857ae);
  background-image: -o-linear-gradient(#d189d4, #a857ae);
  background-image: -ms-linear-gradient(#d189d4, #a857ae);
  background-image: linear-gradient(#d189d4, #a857ae);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  overflow: visible;
  padding-bottom: 7px;
  height: 12px;
  border: 1px solid #313237;
}

/* line 34, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-thumb {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-background-size: auto 100%;
  margin-top: 7px;
  width: 35px;
  height: 35px;
  background: url(../img/range_handle.png) no-repeat center center;
}

/* line 43, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-range {
  background-color: green;
}

/* line 46, ../../../../src/sass/form_fields.sass */
input[type=search] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  padding: 7px 10px;
  background: #313237 url(../img/search.png) no-repeat right center;
  -webkit-background-size: auto 60%;
}

/* line 52, ../../../../src/sass/form_fields.sass */
input[type=checkbox] {
  width: 40px;
  height: 40px;
}

/* line 56, ../../../../src/sass/form_fields.sass */
input[type=checkbox]:checked {
  background: #313237 url(../img/checkmark.png) no-repeat center center;
}

/* line 59, ../../../../src/sass/form_fields.sass */
input[type=radio] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

/* line 64, ../../../../src/sass/form_fields.sass */
input[type=radio]:checked {
  -webkit-background-size: 90% auto;
  background: #313237 url(../img/range_handle.png) no-repeat center center;
}

/* line 68, ../../../../src/sass/form_fields.sass */
input[type=date] {
  padding: 8px;
}

/* line 71, ../../../../src/sass/form_fields.sass */
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: #313237 url(../img/shape_arrow_down.png) no-repeat right 15px;
  padding: 8px;
}

/* line 77, ../../../../src/sass/form_fields.sass */
*:focus {
  outline: none;
}

/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 14, ../../../../src/sass/search.sass */
body.search .search_wrap {
  padding-left: 25.225%;
  display: inline;
  float: left;
  width: 49.55%;
  margin-right: 0.901%;
  margin: 50px 0;
}
/* line 19, ../../../../src/sass/search.sass */
body.search #results {
  margin-left: 3.361%;
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 87.387%;
  margin-right: 0.901%;
}
/* line 24, ../../../../src/sass/search.sass */
body.search #results .border {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.962%;
  display: block;
  float: none;
  margin-right: 0;
  margin-bottom: 25px;
}
/* line 31, ../../../../src/sass/search.sass */
body.search #results ul#table_head {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 35, ../../../../src/sass/search.sass */
body.search #results ul#table_head li:nth-child(1) {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 37, ../../../../src/sass/search.sass */
body.search #results ul#table_head li:nth-child(2) {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 39, ../../../../src/sass/search.sass */
body.search #results ul#table_head li:nth-child(3) {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
  margin-right: 0;
  text-align: right;
}
/* line 45, ../../../../src/sass/search.sass */
body.search #results ul#recipe_list li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  margin-bottom: 25px;
  overflow: hidden;
}
/* line 49, ../../../../src/sass/search.sass */
body.search #results ul#recipe_list h3.date {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
}
/* line 51, ../../../../src/sass/search.sass */
body.search #results ul#recipe_list h3.name {
  display: inline;
  float: left;
  width: 52.885%;
  margin-right: 0.962%;
}
/* line 53, ../../../../src/sass/search.sass */
body.search #results ul#recipe_list .rating {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
}

/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 14, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail #recipe {
  margin-left: 3.361%;
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 87.387%;
  margin-right: 0.901%;
  margin-top: 25px;
}
/* line 22, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 25, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date h1 {
  float: left;
  font-size: 225%;
}
/* line 28, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date h2.date {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  float: right;
  margin-top: 15px;
  font-size: 125%;
}
/* line 38, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail .border {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
}
/* line 41, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail .border:nth-child(1) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 44, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
}
/* line 49, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail h4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 150%;
}
/* line 58, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes {
  position: relative;
  margin-bottom: 15px;
}
/* line 59, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel {
  display: inline;
  float: left;
  width: 11.712%;
  margin-right: 0.901%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(#ffffff, #b4b4b4);
  background-image: -moz-linear-gradient(#ffffff, #b4b4b4);
  background-image: -o-linear-gradient(#ffffff, #b4b4b4);
  background-image: -ms-linear-gradient(#ffffff, #b4b4b4);
  background-image: linear-gradient(#ffffff, #b4b4b4);
  position: absolute;
  top: 0;
  right: 0;
  margin: 20% 0 0 0;
  height: 75%;
  overflow: hidden;
}
/* line 70, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  top: 5.5%;
  width: 90%;
  height: 90%;
  background-color: white;
}
/* line 78, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel div.highlight {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
/* line 83, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes .wrap {
  overflow: hidden;
}
/* line 85, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
}
/* line 87, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl dt {
  display: inline;
  float: left;
  width: 65%;
  margin-right: 5%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
}
/* line 91, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl dd {
  display: inline;
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-right: 0;
  text-align: right;
}
/* line 100, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character, body.recipe_detail div#notes {
  margin-bottom: 15px;
}
/* line 102, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li, body.recipe_detail div#notes li {
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 105, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li .title, body.recipe_detail div#notes li .title {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 108, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li p, body.recipe_detail div#notes li p {
  display: inline;
  float: left;
  width: 79.808%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 117, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail footer a.duplicate {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b8d872;
}
/* line 24, ../../../../src/sass/mixins.sass */
body.recipe_detail footer a.duplicate span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 119, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail footer a.edit {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #7ccfeb;
}
/* line 24, ../../../../src/sass/mixins.sass */
body.recipe_detail footer a.edit span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
