/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../../../../src/sass/default.sass */
body {
  -moz-box-shadow: inset 0 0 150px 50px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0 0 150px 50px rgba(0, 0, 0, 0.85);
  -o-box-shadow: inset 0 0 150px 50px rgba(0, 0, 0, 0.85);
  box-shadow: inset 0 0 150px 50px rgba(0, 0, 0, 0.85);
  font-family: HelveticaNeue-CondensedBold, HelveiticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 130%;
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
  background: #4c5058 url(../img/bg_grid_05.png) repeat;
}

/* line 17, ../../../../src/sass/default.sass */
section#content {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 23, ../../../../src/sass/default.sass */
a {
  color: inherit;
  text-decoration: none;
}

/* line 5, ../../../../src/sass/navigation.sass */
#nav_shadow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 0.7s all ease-out;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 16, ../../../../src/sass/navigation.sass */
#nav_shadow.on {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 2;
}

/* line 20, ../../../../src/sass/navigation.sass */
nav#main.open {
  -webkit-transform: translateX(0%);
}

/* line 23, ../../../../src/sass/navigation.sass */
nav#main {
  -webkit-transform: translateX(-97%);
  -webkit-transition: 0.7s all ease-out;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background-image: -webkit-linear-gradient(#ffffff, #c8c8c8);
  background-image: -moz-linear-gradient(#ffffff, #c8c8c8);
  background-image: -o-linear-gradient(#ffffff, #c8c8c8);
  background-image: -ms-linear-gradient(#ffffff, #c8c8c8);
  background-image: linear-gradient(#ffffff, #c8c8c8);
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 3px;
  z-index: 3;
  position: absolute;
  height: 380px;
  width: 200px;
  background-color: white;
  top: 25%;
}
/* line 35, ../../../../src/sass/navigation.sass */
nav#main .handle {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 0 1px 1px;
  position: absolute;
  right: -12px;
  top: 40%;
  width: 12px;
  height: 60px;
  background: url(../img/handle.png) repeat;
}
/* line 44, ../../../../src/sass/navigation.sass */
nav#main .wrap {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 2px inset;
  margin-top: 3%;
  width: 97%;
  height: 97%;
  background: #313237 url(../img/carbon_fiber_20.png);
}
/* line 50, ../../../../src/sass/navigation.sass */
nav#main .wrap a.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5b0c0), color-stop(100%, #7b8ba2));
  background-image: -webkit-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -moz-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -o-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: -ms-linear-gradient(#a5b0c0, #7b8ba2);
  background-image: linear-gradient(#a5b0c0, #7b8ba2);
}
/* line 52, ../../../../src/sass/navigation.sass */
nav#main .wrap a {
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  -o-border-radius: 0 100px 100px 0;
  -ms-border-radius: 0 100px 100px 0;
  -khtml-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 6px, rgba(0, 0, 0, 0.25) 0 0 5px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #35393e), color-stop(100%, #25272a));
  background-image: -webkit-linear-gradient(#35393e, #25272a);
  background-image: -moz-linear-gradient(#35393e, #25272a);
  background-image: -o-linear-gradient(#35393e, #25272a);
  background-image: -ms-linear-gradient(#35393e, #25272a);
  background-image: linear-gradient(#35393e, #25272a);
  display: inline-block;
  margin-top: 10%;
  padding: 9%;
  width: 75%;
}

/* line 5, ../../../../src/sass/form_fields.sass */
label {
  display: block;
  margin-bottom: 10px;
}

/* line 9, ../../../../src/sass/form_fields.sass */
input, textarea, select {
  -moz-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  display: block;
  width: 310px;
  font-family: HelveticaNeue-CondensedBold, HelveiticaNeue, Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  color: white;
  background-color: #313237;
}

/* line 18, ../../../../src/sass/form_fields.sass */
input[type=text] {
  padding: 8px;
  border: none;
}

/* line 22, ../../../../src/sass/form_fields.sass */
input[type=range] {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d189d4), color-stop(100%, #a857ae));
  background-image: -webkit-linear-gradient(#d189d4, #a857ae);
  background-image: -moz-linear-gradient(#d189d4, #a857ae);
  background-image: -o-linear-gradient(#d189d4, #a857ae);
  background-image: -ms-linear-gradient(#d189d4, #a857ae);
  background-image: linear-gradient(#d189d4, #a857ae);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-appearance: none;
  overflow: visible;
  padding-bottom: 7px;
  height: 14px;
  border: 1px solid #313237;
}

/* line 32, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-thumb {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), -webkit-linear-gradient(-90deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #313237;
}

/* line 42, ../../../../src/sass/form_fields.sass */
input[type=range]::-webkit-slider-range {
  background-color: green;
}

/* line 45, ../../../../src/sass/form_fields.sass */
select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background: #313237 url(../img/shape_arrow_down.png) no-repeat right 15px;
  border: none;
  padding: 8px;
}

/* line 52, ../../../../src/sass/form_fields.sass */
.custom_checkbox, .custom_radio {
  -moz-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  background-color: #313237;
  width: 40px;
  height: 40px;
}

/* line 59, ../../../../src/sass/form_fields.sass */
.custom_radio {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
}
/* line 61, ../../../../src/sass/form_fields.sass */
.custom_radio .on {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), -webkit-linear-gradient(-90deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
  width: 30px;
  height: 30px;
  margin: 5px auto;
}
