/* line 37, ../../../../src/sass/mixins.sass */
.border {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 3px inset, rgba(255, 255, 255, 0.2) 0 1px 1px 1px;
  background: #313237 url(../../img/carbon_fiber_20.png) repeat;
  height: 4px;
}

/* line 14, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail #recipe {
  margin-left: 3.361%;
  padding-left: 6.306%;
  display: inline;
  float: left;
  width: 87.387%;
  margin-right: 0.901%;
  margin-top: 25px;
}
/* line 22, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 25, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date h1 {
  float: left;
  font-size: 225%;
}
/* line 28, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail hgroup.name_date h2.date {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  float: right;
  margin-top: 15px;
  font-size: 125%;
}
/* line 38, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail .border {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
}
/* line 41, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail .border:nth-child(1) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 44, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail h3 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
}
/* line 49, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail h4 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 20px;
  font-size: 150%;
}
/* line 58, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes {
  position: relative;
  margin-bottom: 15px;
}
/* line 59, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel {
  display: inline;
  float: left;
  width: 11.712%;
  margin-right: 0.901%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b4b4b4));
  background-image: -webkit-linear-gradient(#ffffff, #b4b4b4);
  background-image: -moz-linear-gradient(#ffffff, #b4b4b4);
  background-image: -o-linear-gradient(#ffffff, #b4b4b4);
  background-image: -ms-linear-gradient(#ffffff, #b4b4b4);
  background-image: linear-gradient(#ffffff, #b4b4b4);
  position: absolute;
  top: 0;
  right: 0;
  margin: 20% 0 0 0;
  height: 75%;
  overflow: hidden;
}
/* line 70, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 5%;
  top: 5.5%;
  width: 90%;
  height: 90%;
  background-color: white;
}
/* line 78, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes #srm_panel div.highlight {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
/* line 83, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes .wrap {
  overflow: hidden;
}
/* line 85, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl {
  display: inline;
  float: left;
  width: 25.962%;
  margin-right: 0.962%;
}
/* line 87, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl dt {
  display: inline;
  float: left;
  width: 65%;
  margin-right: 5%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-bottom: 15px;
}
/* line 91, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_attributes dl dd {
  display: inline;
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-right: 0;
  text-align: right;
}
/* line 100, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character, body.recipe_detail div#notes {
  margin-bottom: 15px;
}
/* line 102, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li, body.recipe_detail div#notes li {
  overflow: hidden;
  margin-bottom: 15px;
}
/* line 105, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li .title, body.recipe_detail div#notes li .title {
  display: inline;
  float: left;
  width: 19.231%;
  margin-right: 0.962%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 108, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail aside#beer_character li p, body.recipe_detail div#notes li p {
  display: inline;
  float: left;
  width: 79.808%;
  margin-right: 0.962%;
  margin-right: 0;
}
/* line 117, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail footer a.duplicate {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #b8d872;
}
/* line 24, ../../../../src/sass/mixins.sass */
body.recipe_detail footer a.duplicate span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
/* line 119, ../../../../src/sass/recipe_detail.sass */
body.recipe_detail footer a.edit {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 6px;
  padding: 12px 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #7ccfeb;
}
/* line 24, ../../../../src/sass/mixins.sass */
body.recipe_detail footer a.edit span.add {
  display: inline-block;
  float: right;
  margin: -15px -20px 0 20px;
  width: 25px;
  height: 25px;
  font-size: 200%;
  text-align: center;
  vertical-align: super;
}
